.kong_dong > h2{
    margin-bottom: 28px;
    font-size: 48px;
    letter-spacing: 8px;
}

.kong_dong > p{
    letter-spacing: 6px;
    font-size: 20px; 
    margin-bottom: 15px;
}

.kong_dog_icons img{
    height: 70%;
    margin-right: 30px;
}

