.kong_dong > h2{
    margin-bottom: 25px;
    font-size: 40px;
    letter-spacing: 6px;
}

.kong_dong > p{
    letter-spacing: 5px;
    font-size: 18px; 
    margin-bottom: 10px;
}

.kong_dog_icons img{
    height: 65%;
    margin-right: 25px;
}

