.main_image_container{
    height: calc(100vh - 74px);
    width: 100vw;
    margin-bottom: 80px;
}

.dog_container{
    width: 100vw;
    height: 100%;
    position: relative;
}

.dog_container img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1; 
}

.dog_title{
    padding: 100px 0 0 32px;
    color: white;
    font-weight: 900;
}

.because{
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: "Kanit";
    position: relative;
}

.because::after{
    content: "";
    height: 2px;
    width: 220px;
    background: var(--white);
    position: absolute;
    top: 50%;
    margin-left: 8px;
}

.dog_need{
    font-size: 58px;
    letter-spacing: 3px;
    font-family: "Kanit";
    line-height: 55px;
    margin-bottom: 60px;
}

.dog_need_margin{
    margin: 0;
}

.dog_btn{
    
    font-weight: 900;
    background: transparent; 
    border: 1.5px solid var(--white);
    margin-bottom: 10px;
    height: 50px;
    width: 220px;
    color: var(--white);
    font-size: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px; 0;
    letter-spacing: 1px;
    margin-right: 18px;
}

.dog_btn:hover{
    background: rgba(175,185,214,.4);
}

.dog_btn:active{
    background: rgba(175,185,214,.6);
}

.para_1976{
    min-height: 100px;
    width: 100vw;
    font-family: "DM Serif Text";
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background: #fbfbfb;
}

.para_1976 h2{
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 1.8px;
    margin-bottom: 20px;
}

.para_1976 p{
   line-height: 24px;
   padding: 0 20px;
}


