.dog_gallery_container{
    min-height: 50px;
    width: 100vw;
    background: #fbfbfb;
    font-family: "DM Serif Text";
    padding: 30px 5px;
}

.dog_gallery{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_gallery{
    height: 100%;
    width: 50%;
    padding-right: 2px;
}

.left_gallery img{
    margin-bottom: -1px;
}

.gallery_one{
    height: 150px;
    width: 100%;
}

.gallery_two{
    height: 300px;
    width: 100%;
}

.gallery_three{
    height: 340px;
    width: 100%;
}


.right_gallery{
    height: 100%;
    width: 50%;
    padding-left: 2px;
    
}

.right_gallery img{
    margin-bottom: -1px;
}

.gallery_four{
    height: 340px;
    width: 100%;
}

.gallery_five{
    height: 150px;
    width: 100%;
}

.gallery_six{
    height: 300px;
    width: 100%;
}


