.dog_slider_container{
    padding: 48px 34px;
    width: 70vw;
    margin: 0 auto;
}

.dog_slider{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.dog_slider_container > h2{
    margin-bottom: 55px;
    font-size: 30px;
    letter-spacing: 3px;
}

.dog_slider_images img{
    height: 38%;
    width: 60%;
    margin-bottom: 35px;
}
